/* @import url('https://fonts.cdnfonts.com/css/netflix-font'); */


*{
  margin: 0;
}

.App{
  background-color: #111;
  /* position: relative; */
  overflow: hidden;
}


/* row css */

.row{
  color: white;
  margin-left: 1.2rem;
}

.poster{
  object-fit: contain; 
  /* to keep aspect-ratio */
  width: 100vw;
  max-height: 6.25rem;
  transition: transform 250ms ;
 /* for delay hover */
 margin: 0.1rem;
}

.row_posters{
  display: flex;
  overflow-x: scroll;
  padding: 0.5rem;
}


.row_posters::-webkit-scrollbar{
  display: none;
}

img.poster,img.poster_large {
  border-radius: 0.5rem;
}


.poster:hover{
  transform: scale(1.08);
  /* to zoom effect */
  
}

.poster_large{
  max-height: 13rem;
  padding: 0.5rem;

}
.poster_large:hover{
  transform: scale(1.10);
  transition: transform 250ms ;
}


/* banner css */

.banner{
  color: white;
  object-fit: contain;
  height: 26rem;
  
}

.banner_data{
  margin-left: 2rem;
  padding-top: 8rem;
  height: 12rem;
}

.banner_title{
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner_desc{
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 22rem;
  height:5rem;
}

.button{
  color: #fff;
  outline: none;
  cursor: pointer;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: 1rem;
  background-color: rgba(51, 51, 51, 0.5);
}

.button:hover{
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.5s;
}

.banner_fade{
  /* for fade effect of banner bottom */
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(12, 12, 12, 0.615),
    #171718
  );
}

/* navbar css */

.nav, .nav_dark{
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex; 
  width: 100vw;
  height: 1.9rem;
  padding: 1.2rem;
  justify-content: space-between;
  /* nav-dark animation delay */
transition-timing-function: ease-in;
transition: all 0.5s;
}
/* nav_dark */
.nav{
  background-color:#11111162 ;
}

.nav_logo{
  position: fixed;
  left: 1.2rem;
  width: 5rem;
  object-fit: contain;
}

.nav_user{
  position: fixed;
  right: 1.2rem;
  width: 2.5rem;
  object-fit: contain;
}

/* user login */
.user{
  width: 100vw;
  height:100vh;
  /* object-fit: contain; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #e6e6e6; */
  overflow: hidden;
}
.user_container{
  background-color: #111111e3;
  width: 30vw;
  height:80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;

}
.user_heading{
  color: white;
  margin-bottom: 1.5rem;
}
.user_input, .user_btn{
  width: 20vw;
  height: 2.8rem;
  border-radius: 0.4rem;
  margin-top: 1rem;

}
.user_input{
  background-color: rgba(32, 133, 123,0.4);
  padding-left: 1rem;
  font-weight: 500;
  color: rgb(185, 222, 4);
  font-size: 1rem;
}

.name_logo{
  width: 11.5rem;
  height: auto;
}

::placeholder{
  color: #fff;
  opacity: 0.8;
}

.user_btn{
  background-color: red;
  color: white;
  margin-top: 2.5rem;
  font-weight: 700;
  font-size: 1rem;
}

.sign_cont{
  display: flex;
  gap: 8rem;
  color: white;
  margin-top: 1rem;
}
span{
  font-weight: 600;
}

.close{
  margin-right: 1rem;
  width: 5rem;
} 
.close_btn{
  margin-top: 1rem;
}

.thankyou{
  color: #fff;
  margin-top: 2rem;
}



/* modal css */

#modals{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.553)
}
/* image("F:\webpage project\netflix-clone\netflix-clone\src\image\netflix.jpg"); */

/* not signed */
#notSigned{
  background-image:url("https://cdn.arstechnica.net/wp-content/uploads/2022/07/netflix.jpg");
  color: #fff;
  width: 100vw;
  height:100vh;
  /* position: relative; */
  background-size: cover;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  /* filter:brightness(80%); */
  animation: zoom-in-zoom-out 10s linear infinite;
  /* transition: transform 0.5s linear; */
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }

}

.name_logo_big{
  width: 38vw;
  height: auto;
}

.noSignData{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100vw;
  height:100vh;
  background-color: #0000006b;
}
.freeWatchContainer{
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /* background-color: #000; */
  
}

#freeWatchBtn{
  background-color: red;
  color: white;
  width: 40vw;
  height: 8.5vh;
  font-size: xx-large;
  font-weight: normal;
  margin-top: 1rem;
  border-color: red;
  border-style: solid;
}



@media (max-width:1080px){
  .user_container{
    width: 82vw;
    height: 73vh;
  }
  
  .user_input, .user_btn{
    width: 50vw;
    height: 2.3rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
  
  }
  .sign_cont{
    display: flex;
    flex-direction: column;
    gap : 2rem;
    align-items: center;
  }
  .thankyou{
    font-size: small;
  }
  #freeWatchBtn{
    font-size: medium;
    font-weight: bolder;
    height: 8vh;
    width: 65vw;
  }

  #notSigned{
    /* background-repeat: repeat-y; */
    background-size: cover;
  }

  #trailer-box{
    width: 90vw;
    height: 30vh;
  }

}



/* Loader ball  */

.loader-container{
  display: flex;
  gap: 0.2rem;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.loader-ball {
  width: 4rem;
  height: 4rem;
  margin: 0 2rem;
  border-radius: 50%;
  background-color:red;
  animation: loader-ball 2s linear infinite ;
  color: #1e1e1e;
  text-align: center;
  /* display: inline-block; */
  
  font-size: large;
  font-weight: bolder;
}
.loader-ball  div:nth-child(2) {
  animation-delay: 0.2s;
}

.loader-ball  div:nth-child(2) {
  animation-delay: 0.6s;
}

.loader-ball  div:nth-child(3) {
  animation-delay: 1.0s;
}
.loader-ball div:nth-child(4) {
  animation-delay: 1.4s;
}
.loader-ball  div:nth-child(4) {
  animation-delay: 1.8s;
}
.loader-ball  div:nth-child(6) {
  animation-delay: 2.2s;
}
.loader-ball  div:nth-child(7) {
  animation-delay: 2.6s;
}

@keyframes loader-ball {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-28px);
  }
  
  100%{
    transform: translateY(0);
  }
}





